.article {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  line-height: 20px;

}
.article img {
  width: 185px;
  height: 195px;
}

.ui {
  margin-top: 30px;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
}