@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&family=Inter:wght@400;500;600;700;800;900&family=Smooch+Sans:wght@400;500;600;700;800;900&display=swap');

.wrap {
    width: 100%;
    padding-left: 13.02%;
    padding-right: 13.02%;
}

body {
    font-family: "Exo 2", sans-serif;
    background: #edfcff;
}

h1 {
    font-size: 2.25rem;
}

.purple-gradient {
    background: linear-gradient(90deg, #da22ff 0%, #9733ee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

main {
    min-height: 200vh;
}

.text-red {
    background: linear-gradient(86.29deg, #ED213A 3.04%, #93291E 155.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.mb-30 {
    margin-bottom: 30px;
}