.section {
}

.introduction__container {
  border-radius: 20px 20px 0px 0px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 217px;
  justify-content: space-between;
  height: calc(100vh - 46.81vh);
  border: 1px solid #56bdc5;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 60%;
}

.introduction__header h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.5rem;
}

.introduction__header {
  max-width: 500px;
}

.introduction__link button {
  margin-top: 3rem;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  font-size: 1.125rem;
  padding-left: 40px;
  padding-right: 40px;
}

.section--introduction {
  margin-top: 50px;
}

.introduction__buttons {
  border-top: none;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.06), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0431313),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0357664), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.03),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0242336), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0168687);
  backdrop-filter: blur(50px);
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
}

.switch-button {
  border-top: 1px solid #56bdc5;
  border-bottom: 1px solid #56bdc5;
  border-left: none;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  transition: 250ms ease-in-out all;
  cursor: pointer;
  padding: 9px 0 12px 0;
}

.switch-button:first-child {
  border-left: 1px solid #56bdc5;
  border-radius: 0px 0px 0 20px;
}
.switch-button:last-child {
  border-right: 1px solid #56bdc5;
  border-radius: 0px 0px 20px 0;
}

.switch-button:hover {
  color: rgba(0, 0, 0, 1);
}

.switch-button--active {
  border-bottom: 1px solid #da22ff;
  font-weight: 600;
  background: linear-gradient(90deg, #da22ff 0%, #9733ee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.sub-introduction__item {
  width: 25%;
  padding: 50px 20px;
  border-radius: 20px;
  background: #fff no-repeat right bottom;
  background-size: 50%;
}

.sub-introduction__title, .sub-introduction__description {
  max-width: 50%;
}

.sub-introduction__title {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 5px;
}

.sub-introduction__description {
  color: #4E4F54;
  font-size: .75rem;
  line-height: 14px;
}

.sub-introduction {
  margin-top: 20px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.form-description {
  font-size: 3rem;
  opacity: 0.6;
}

.form-section {
  max-width: 60%;
  margin-top: 180px;
}

.form-section h2 {
  font-weight: 600;
  font-size: 3.5rem;
  margin-bottom: 20px;
}