.link {
  color: #777780;
  font-size: 0.75rem;
  align-items: center;
  display: flex;
  font-family: "Exo 2", sans-serif;
  font-size: .75rem;
  color: #777780;
}


.container {
  display: flex;
  margin-top: 40px;
  margin-bottom: 1rem;
}

.link:not(:last-child)::after {
  display: block;
  width: 24px;
  height: 24px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M9.19216 7.0274C9.00591 7.21476 8.90137 7.46821 8.90137 7.7324C8.90137 7.99658 9.00591 8.25003 9.19216 8.4374L12.7322 12.0274L9.19216 15.5674C9.00591 15.7548 8.90137 16.0082 8.90137 16.2724C8.90137 16.5366 9.00591 16.79 9.19216 16.9774C9.28512 17.0711 9.39572 17.1455 9.51758 17.1963C9.63944 17.2471 9.77015 17.2732 9.90216 17.2732C10.0342 17.2732 10.1649 17.2471 10.2867 17.1963C10.4086 17.1455 10.5192 17.0711 10.6122 16.9774L14.8522 12.7374C14.9459 12.6444 15.0203 12.5338 15.0711 12.412C15.1218 12.2901 15.148 12.1594 15.148 12.0274C15.148 11.8954 15.1218 11.7647 15.0711 11.6428C15.0203 11.521 14.9459 11.4104 14.8522 11.3174L10.6122 7.0274C10.5192 6.93367 10.4086 6.85927 10.2867 6.8085C10.1649 6.75774 10.0342 6.7316 9.90216 6.7316C9.77015 6.7316 9.63944 6.75774 9.51758 6.8085C9.39572 6.85927 9.28512 6.93367 9.19216 7.0274Z' fill='%23777780'/%3E%3C/svg%3E")
}